html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: #01BEFE;
    height: auto;
    width: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

*{
    font-family: cursive;
    font-weight: bolder;
    box-sizing: border-box;
}

.row{
    height: 100%;
    margin: 0;
}

.column{
    float: left;
}

.columnLeft{
    width: 25%;
    height: 100vh;
    background-color: #01BEFE;
}

.columnRight{
    width: 75%;
    height: 100vh;
}

.header{
    background-color: #01BEFE;
    color: #8F00FF;
    text-align: center;
    margin: auto;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.readyButton{
    margin-top: 10%;
    width: 100%;
    font-size: 30px;
    border: 3px solid #000;
    border-radius: 5px;
}

.readyButton:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.ready{
    background-color: #ADFF02;
}

.cancel{
    background-color: #FF7D00;
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:800px;
}

#lobbyCanvas{
    background-color: white;
    width: 98%;
    height: 75%;
}

#roomCodeHeader{
    color: #8F00FF;
    display: flex;
}

#playerList{
    width: 80%;
    margin: auto;
    margin-left: 2vh;
    font-size: x-large;
}

#playersHeader{
    text-decoration: underline;
}

#players{
    column-count: auto;
    max-width: 100%;
}

.player{
    margin-bottom: 5px;
    color: #ff006d;
}

.empty{
    color: black;
}