.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header, h2 {
  padding: 2px 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-body {
  padding: 2px 16px;
  width: 80%;
  font-size: 24px;
  box-sizing: border-box;
  margin-left: 1.6rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.modal-footer {
  padding: 2px 16px;
}

.modal-content {
  color: white;
  font-size: 24px;
  top: 25vh;
  position: relative;
  background-color: #8F00FF;
  margin: auto;
  padding: 0;
  width: 30%;
  border: 3px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modalBtn{
  color: black;
  width: 100px;
  font-size: 24px;
  font-weight: bold;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 0.3rem;
  border: 3px solid #000;
  border-radius: 5px;
}

.confirmModal {
  background-color: #ADFF02;
}

.cancelModal{
  background-color: #FF006D;
}

.modalBtn:hover{
  cursor: pointer;
  color: white !important;
  background-color: black !important;
}

.modalInput{
  margin-bottom: 1rem;
  font-size: 24px;
  border: 3px solid black;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 25vh; opacity: 1}
}